#!/usr/bin/make -f

SHELL=/bin/bash
export DH_VERBOSE=1

override_dh_auto_build:
	@if [ "${DEB_HOST_ARCH}" == "amd64" ]; then \
		echo "# making release-amd64"; \
		$(MAKE) release-amd64; \
	elif [ "${DEB_HOST_ARCH}" == "arm64" ]; then \
		echo "# making release-arm64"; \
		$(MAKE) release-arm64; \
	else \
		echo "error: unsupported --host-arch=${DEB_HOST_ARCH}"; \
		false; \
	fi

override_dh_auto_install: export BUILD_ARCH=${DEB_HOST_ARCH}
override_dh_auto_install: export DESTDIR=${CURDIR}/debian/tmp
override_dh_auto_install:
	@if [ "${DEB_HOST_ARCH}" == "amd64" ]; then \
		echo "# making install-amd64"; \
		$(MAKE) install-amd64; \
	elif [ "${DEB_HOST_ARCH}" == "arm64" ]; then \
		echo "# making install-arm64"; \
		$(MAKE) install-arm64; \
	else \
		echo "error: unsupported --host-arch=${DEB_HOST_ARCH}"; \
		false; \
	fi
	@$(MAKE) install-autocomplete

override_dh_shlibdeps:

override_dh_strip:

%:
	dh $@
